<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <form action="">
                <form class="login100-form validate-form">
					<span class="login100-form-title p-b-55">
						Login
					</span>

					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input matInput>
						<mat-icon matSuffix>mail</mat-icon>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Password</mat-label>
						<input matInput [type]="hide ? 'password' : 'text'">
						<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</mat-form-field>

					<div class="contact100-form-checkbox m-l-4">
						<mat-checkbox class="example-margin">Remember me</mat-checkbox>
					</div>
					
					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="register text-center w-full p-t-115">
						<span class="txt1">
							Not a member?
						</span>

						<a class="txt1 bo1 hov1" routerLink="/login/register">
							Sign up now							
						</a>
					</div>
				</form>
            </form>
        </div>
    </div>
</div>